@model IEnumerable<WAD.WebApp._7947.DAL.DTO.Pizza>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PizzaName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Size)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PizzaBinPhoto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PizzaName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Size)
            </td>
            <td>
                <img src="@Url.Action("ShowImage", new {id= item.PizzaId})" width="80" />
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PizzaId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PizzaId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PizzaId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
